*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body#loginBody{
    background: url(../images/login-backgrouond.jpg) center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

div.loginHeader{
    text-align: center;
    padding-bottom: 50px;
}

div.loginHeader h1{
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    color: #c82c36;
}

div.loginHeader p{
    color: #fff;
    font-size: 50px;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;
}

div.loginHeader p::after{
    content: '';
    display: block;
    border-bottom: 5px solid #c82c36;
    margin: 0 auto;
    text-transform: uppercase;
}

div.loginBody form{
    margin: 0 auto;
    padding: 50px;
    width: 450px;
    background-color: rgb(0, 0, 0, .5);
    border: 2px solid #fff;
    border-radius: 8px;
}

div.loginInputContainer{
    margin-top: 20px;
}

div.loginInputContainer label{
    display: block;
    color: #fff;
    font-size: 20px;
    /*text-transform: uppercase;*/
    font-weight: bold;
}

div.loginInputContainer input{
    width: 100%;
    border: 2px solid #c82c36;
    height: 25px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-style: italic;
}

div.loginButtonContainer{
    margin-top: 15px;
    text-align: center;
}

div.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #c82c36;
    color: #FFF;
    border: none;
}

div.header{
    width: 100%;
    height: 10px;
    background: #c82c36;
}

div.banner{
    background: url(../images/banner.png) center center no-repeat fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
}

div.homepageContainer{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 40vh;
}

div.bannerHeader h1{
    font-size: 100px;
    color: #c82c36;
    line-height: 100%;
}

div.bannerHeader p{
    font-size: 40px;
    color: #fff;
    /* margin-top: -30px; */
}

div.bannerTagline{
    font-size: 20px;
    color: #fff;
    width: 500px;
    margin-bottom: 15px;
}

div.bannerIcon a{
    font-size: 30px;
    background:  rgba(63, 63, 63, 0.5);
    margin-left: 15px;
    border-radius: 50%;
    padding: 10px;
    color: #d1cccc;
}

div.bannerIcon a:first-child {
    margin-left: 0px;
    padding: 10px 12px;
}

div.bannerIcon a:hover{
    background-color: rgba(209,204,204,.5);
    color: #333333;
    font-size: 32px;
    transition: 0.5s all;
}

div.homePageFeatures{
    display: flex;
    flex-direction: row;
}

div.homePageFeature{
    padding: 20px 20px;
    text-align: center;
}

div.homePageFeature:first-child{
    padding-left: 0px;
}

div.homePageFeature span.featureIcon{
    font-size: 50px;
    /* padding-left: 20px; */
    padding-top: 10px;
    background:  rgba(200,44,54);
    color: #FFF;
    border-radius: 50%;
    width: 90px; 
    height: 90px;
    display: inline-block;
    margin-bottom: 20px;
}

div.homePageFeature h3.featureTitle{
    margin-bottom: 20px;
}

div.homePageFeature p.featureDescription{
    color: #848484;
}

div.homepageNotified{
    background: #e3e3e3;
    padding: 25px 0;
}

div.homepageNotifiedConainer{
    display: flex;
    flex-direction: row;
}
div.homepageNotifiedConainer > div{
    width: 50%;
}

div.homepageNotifiedConainer h3{
    margin-bottom: 20px;
}
div.homepageNotifiedConainer p{
    color: #848484;
    line-height: 150%;
    margin-bottom: 45px;
    width: 90%;
}

div.fromContainer{
    position: relative;
    width: 80%;
}
div.fromContainer input{
    border: none;
    border-radius: 14px;
    padding: 15px 10px;
    width: 100%;
}
div.fromContainer button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border:none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: 0 30px;
    font-size: 22px;
    background: #c82c36;
    color: #fff;
}

iframe{
    width: 100%;
    height: 100%;
}

div.socials{
    text-align: center;
    max-height: 20vh;
}
div.socialsContent h3{
    margin-top: 20px;
}
div.socialsContent p{
    margin: 15px;
    color: #848484;
}

div.socialMedia{
    margin: 20px;
}

div.socialMedia a{
    color: #FFF;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgba(200,44,54);;
}

div.socialMedia a:hover{
    color: rgba(200,44,54);
    font-size: 32px;
    transition: 0.5s all;
    background-color: #fff;
}

div.MenuFooter{
    background-color: rgba(209,204,204,.5);
}
div.MenuFooterContain{
    text-align: center;
    padding: 20px 0;
}
div.MenuFooterContain a{
    text-decoration: none;
    margin: 10px 15px;
    color: rgba(63, 63, 63, 0.5);
}
div.MenuFooterContain a:hover{
    color: #000;
    transition: 0.5s all;
    font-size: 20px;
}

/* Dashboard Style */
div.dashboard_MainContent{
    display: flex;
    flex-direction: row;  
    min-height: 100vh; 
}
div.dashboard_sideBar{
    width: 20%;
    background: rgba(209,204,204,.5);
}
h3.dashboard_logo{
    text-align: center;
    color: rgba(200,44,54);
    font-size: 90px;
}
div.dashboard_user{
    position: relative;
    border-bottom: 2px solid #c82c36;
    text-align: center;
    padding-bottom: 20px;
}
div.dashboard_user img{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgba(200,44,54);
    vertical-align: middle;
    
}
div.dashboard_user span{
    position: relative;
    display: inline-block;
    top: 20%;
    font-size: 20px;
    color: #c82c36;   
    padding-left: 10px;
}

div.dashboard_SideBarMenu ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
}
div.dashboard_SideBarMenu li{
    padding: 10px 20px;   
}
div.dashboard_SideBarMenu li.menuActive{
    padding: 10px 20px;
    background: #c82c36;
    color: #FFF;
}
div.dashboard_SideBarMenu li.menuActive >a{
    background: #c82c36;
    color: #FFF;
}
div.dashboard_SideBarMenu li:hover{
    padding: 10px 20px;
    background: #c82c36;
    color: #FFF;
}
div.dashboard_SideBarMenu li:hover >a{
    background: #c82c36;
    color: #FFF;
}
div.dashboard_SideBarMenu a{
    text-decoration: none;
    color: rgba(63, 63, 63, 0.9);
    font-size: 20px;
    
}

div.dashbaord_content_container{
    width: 80%;
}
div.dashbaord_top_nav{
    background: rgba(209,204,204,.5);
    padding: 15px;
}
div.dashbaord_top_nav a{
    text-decoration: none;
    color: rgba(63, 63, 63, 0.9);   
    font-size: 16px;
}
div.dashbaord_top_nav a#logoutIcon{
    float: right;
}